.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1e1e2f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);



  .logo {
    margin-right: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: #ffffff;
  }

  button {
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(98, 97, 97);
      color: #ffffff;
    }
  }

  .username {
    margin-right: 1rem;
  }
}